USE [PizzaRestaurant]
GO

/****** Object:  View [dbo].[Stock1]    Script Date: 10/10/2024 10:22:40 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Stock1]
AS
SELECT ItemName, IngredientName, IngredientID, IngredientWeight, IngredientPrice, OrderQuantity, RecipeQuantity, OrderQuantity * RecipeQuantity AS OrderedWeight, CONVERT(DECIMAL(10,2), IngredientPrice / IngredientWeight, 2) AS UnitCost, CONVERT(DECIMAL(10,2), (OrderQuantity * RecipeQuantity) * (IngredientPrice / IngredientWeight), 2) 
             AS IngredientCost
FROM   (SELECT o.ItemID, i.SKU, i.ItemName, r.IngredientID, ing.IngredientName, r.Quantity AS RecipeQuantity, SUM(o.Quantity) AS OrderQuantity, ing.IngredientWeight, ing.IngredientPrice
             FROM    dbo.orders AS o LEFT OUTER JOIN
                           dbo.item AS i ON o.ItemID = i.ItemID LEFT OUTER JOIN
                           dbo.recipe AS r ON i.SKU = r.RecipeID LEFT OUTER JOIN
                           dbo.ingredient AS ing ON ing.IngredientID = r.IngredientID
             GROUP BY o.ItemID, i.SKU, i.ItemName, r.IngredientID, r.Quantity, ing.IngredientName, ing.IngredientWeight, ing.IngredientPrice) AS s1
GO

GRANT SELECT ON [dbo].[Stock1] TO [Inventory] AS [dbo]
GO

EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "s1"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 299
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Stock1'
GO

EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Stock1'
GO


